/* --- = CONTAINER --- */
* {
  box-sizing: border-box;
}
.container {
  font-family: "Raleway", sans-serif;
  width: 90%;
  margin: 0 auto;
  font-size: 18px;
}
/* --- = HEADER ---  */
header {
  padding-top: 3em;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 150px;
}
.nav-link {
  display: flex;
  margin-right: 10px;
}
nav li {
  list-style-type: none;
}
nav a:hover {
  border-top: 1px solid #0065fc;
  color: #0065fc;
}
nav a {
  /* font-size: 22px; */
  text-decoration: none;
  padding-top: 2em;
  margin-right: 2em;
}

/* --- = MAIN --- */

/**  @subsection searchSection */

.searchBar {
  display: flex;
  height: 45px;
}
.search-title {
  font-size: 18px;
}
.location-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #f2f2f2;
}
div input {
  border: 0.5px solid #f2f2f2;
  height: 45px;
  text-align: center;
  font-weight: 900;
}
#btn {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align: center;
  background-color: #0065fc;
  color: #fff;
  text-transform: capitalize;
  border: none;
  height: 45px;
}

/**  @subsection Filter */
.filter-group {
  display: flex;
}
.filter-group p {
  align-self: center;
}
.filter {
  display: flex;
  font-weight: bold;
}
.filter {
  display: flex;
  flex-wrap: wrap;
}
.filter li {
  list-style-type: none;
  margin-left: 1em;
}
.filter p {
  border: 3px solid #f2f2f2;
  padding: 8px 20px 8px 0px;
  border-radius: 20px;
}
.filter-span {
  border: 3px solid #deebff;
  border-radius: 22032013px;
  padding: 8px 20px;
  background-color: #deebff;
  margin-right: 0.5em;
  position: relative;
}
.filter-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: 1em;
  color: #0065fc;
}
.info {
  margin-bottom: 3em;
}
.fa-info-circle {
  border-radius: 22032013px;
  background-color: #0065fc;
  color: #fff;
}

/**  @subsection = MAIN-CONTENT */

.sideBySide {
  display: flex;
  justify-content: space-between;
}

/**  @subsection Hébergements */
#accommodation {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 20px;
  flex: 2;
  margin-right: 3em;
}
#accomodation h2 {
  margin-bottom: 3em;
}
.framing {
  display: flex;
  flex-wrap: wrap;
}
.card {
  flex-direction: column;
  display: flex;
  width: 25%;
  flex: auto;
  border: 1px solid olive;
  height: 40%;
  padding: 5px;
  border-radius: 25px;
  background-color: #fff;
  margin: 10px;
  text-decoration: none;
}
.card-content {
  font-size: 13px;
  padding-left: 0.5em;
  color: #000;
  margin: 0;
}
.card-content h3 {
  margin: 0;
  padding: 10px 0 4px 0;
}
.card-content ul {
  margin: 0;
  display: flex;
  padding-left: 0;
}
.card-content p {
  margin: 0;
  padding: 4px 0;
}
.card-content li {
  list-style-type: none;
}
.star {
  font-size: 10px;
  color: #0065fc;
}
.price {
  font-weight: bold;
}
.pinUp {
  font-weight: bold;
  text-decoration: none;
  color: currentColor;
}

.framing img {
  width: 100%;
  height: 60%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

/**  @subsection Les Plus Populaires */
aside.mostFamous {
  flex: 1;
  background-color: #f2f2f2;
  border-radius: 20px;
}
.mostFamous-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mostFamous-title h2 {
  margin-right: 2em;
}
.thumbnail {
  display: flex;
  background-color: #fff;
}
.card-picture {
  display: flex;
}
.card-picture img {
  width: 100%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.picture-content {
}

/* --- = FOOTER --- */
